.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 164px);
  text-transform: uppercase;
}

.title {
  font-size: 130px;
  font-weight: 700;
  line-height: 1;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 150px;
  }
}

.type {
  margin-bottom: 6px;
  font-size: 28px;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .type {
    font-size: 32px;
  }
}

.message {
  margin-bottom: 28px;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .message {
    font-size: 16px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 28px;
  width: 196px;
  height: 50px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  background: var(--tertiary-color);
  box-shadow: var(--button-bs);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
